apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: elk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.15.0
          ports:
            - containerPort: 5601

          env:
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch:9200"

            - name: NODE_OPTIONS
              value: "--max-old-space-size=1024"

            - name: xpack.security.enabled
              value: "false"

          resources:
            requests:
              cpu: "200m"
              memory: "1Gi"
            limits:
              cpu: "1"
              memory: "2Gi"
