### MAVEN ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### SPRING BOOT ###
*.jar
*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS CODE ###
.vscode/

### LOG FILES ###
*.log
logs/
*.out

### OS FILES ###
.DS_Store
Thumbs.db

### WINDOWS Zone.Identifier ###
*.Zone.Identifier

### KUBERNETES ###
*.yaml~
*.yml~
# Helm charts (if you use them later)
charts/
# Kube config dumps
kubeconfig*

### DOCKER ###
*.pid
*.seed
docker-compose.override.yml
# Ignore large images accidentally downloaded into repo
*.tar
*.tar.gz

### MINIKUBE ###
minikube-linux-amd64
minikube*
*.iso

### NODE / REACT (for frontend if present) ###
node_modules/
dist/
build/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### BACKUP FILES ###
*.bak
*.tmp

ngrok-v3-stable-linux-amd64.tgz

docker-compose.yml
api-gateway/src/main/resources/logback-spring.xml
elk/