apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: movie-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ketan803/api-gateway:main-8  # or use your tagged version
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 400m
              memory: 512Mi
            limits:
              cpu: 800m
              memory: 1024Mi
          ports:
            - containerPort: 8085
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"

            # Eureka registry address
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://eureka:8761/eureka/"

            - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
              value: "true"
