apiVersion: v1
kind: Service
metadata:
  name: movie-service
  namespace: movie-app
spec:
  selector:
    app: movie-service
  ports:
  - name: http
    port: 8086
    targetPort: 8086

  type: ClusterIP
