apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: movie-service-hpa
  namespace: movie-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: movie-service
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
